<?xml version="1.0"?>
<launch>
  <include file="$(find hase_description)/launch/description.launch" />

  <node pkg="hase_base" type="hase_node" name="hase_node">
    <rosparam>
      port: /dev/mbed
      require:
        publishers:
          - feedback
          - imu/data_hase
        subscribers:
          - cmd_drive
    </rosparam>
  </node>

  <!-- TODO: Eliminate this by compiling the necessary message definitions into hase_base. -->
  <node pkg="rosserial_python" type="message_info_service.py" name="rosserial_message_info" />

  <!-- Filter raw gyro data into a usable IMU message -->
  <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter">
    <rosparam>
      gain: 0.1
      zeta: 0.001
      publish_tf: false
      use_mag: false
    </rosparam>
  </node>

  <!-- Differential controller and basic localization -->
  <include file="$(find hase_control)/launch/control.launch" />

  <!-- Teleoperation via joystick and rviz interactive markers -->
  <include file="$(find hase_control)/launch/teleop.launch" />

  <!-- Sick Tim571 Lidar-->
  <node name="sick_tim571_2050101" pkg="sick_tim" type="sick_tim551_2050001" respawn="false">
    <param name="range_max" type="double" value="25.0" />
  </node>

  <node name="laser_frame" pkg="tf" type="static_transform_publisher" args="0.206 0 0.16 0 0 0 1 base_link laser 100" />
</launch>
